<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> 
	<link th:href="@{/styles/main.css}"  rel="stylesheet" type="text/css" media="all"  /> 
	<title> Add New Magenta Toner </title>
</head>
<body>

<div class="topnav">
  <a th:href="@{/}" class="logo">HelpDeskSystem</a>
  <a th:href="@{/users}">Users</a>
  <a th:href="@{/printers}">Printers</a>
  <a th:href="@{/changePass}">Change Password</a>
	
<div sec:authorize="hasAnyRole('ADMIN','MANAGER')" class="search-container">
    <form th:action="@{/searchAll}">
      <input type="text" placeholder="Search.." name="name">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  
  <div sec:authorize="hasRole('EMPLOYEE')" class="search-container">
    <form th:action="@{/search}">
      <input type="text" placeholder="Search.." name="name">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <form th:action="@{/logout}" method="POST">
  		<button type="submit" class="split" value="Logout">Logout</button>
  </form>
</div>

	<div class="container">

		<br>
		
		<a th:href="@{/callMe}" class="previous round">&#8249;&#8249;</a>
		
		<br><br>
		
		<p class ="h4 mb-4"> Insert data for Magenta Toner </p>
		
		<form action="#" th:action="@{/saveMtoner}"
						 th:object="${magentaToner}" method="POST">
						 
					
				<input type="text" th:field="*{name}" id="name"
						class="form-control mb-4 col-4" placeholder="Toner name">		 
				<p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" />
				
						
				<input type="hidden" name="color" th:value="Magenta">	
				
				
				<select class="form-select" th:field="*{stock}" id="stock">
    				<option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}">
    				</option>
				</select>
				
				<br>
				<button type="submit" class="btn btn-dark col-2">Save</button>
								
		</form>
	</div>


</body>
</html>