<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> 
	<link th:href="@{/styles/main.css}"  rel="stylesheet" type="text/css" media="all"  /> 
	<title> Users </title>
</head>
<body>

<div class="topnav">
  <a th:href="@{/}"class="logo">HelpDeskSystem</a>
  <a th:href="@{/users}">Users</a>
  <a th:href="@{/printers}">Printers</a>
  <a th:href="@{/changePass}">Change Password</a>
	
 <div class="search-container">
    <form th:action="@{/search}">
      <input type="text" placeholder="Search.." name="name">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <form th:action="@{/logout}" method="POST">
  		<button type="submit" class="split" value="Logout">Logout</button>
  </form>
</div>

<div class="container">

	<br>
	
	<a th:href="@{/}" class="previous round">&#8249;&#8249;</a>
		
	<br><br>
	
    <div sec:authorize="hasRole('ADMIN')">
		<!-- Add Button -->
		<a th:href="@{/addUserForm}"
			class="btn btn-dark btn-sm mb-3">
			Add User	
		</a>
	</div>
	<br>
	
	
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Pc</th>
				<th>Phone</th>
				<th>Sex</th>
				<th sec:authorize="hasAnyRole('ADMIN','MANAGER')">Actions<th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempUser :${users}">
				<td th:text ="${tempUser.username}" />
				<td th:text ="${tempUser.firstName}" />
				<td th:text ="${tempUser.lastName}" />
				<td th:text ="${tempUser.email}" />
				<td th:text ="${tempUser.pc}" />
				<td th:text ="${tempUser.phone}" />
				<td th:text ="${tempUser.sex}" />
					<td>			
							<a th:href="@{/updateUserForm(username=${tempUser.username})}"
								class="btn btn-info btn-sm" 
								sec:authorize="hasAnyRole('ADMIN','MANAGER')">
								Update
							</a>						
							<a th:href="@{/deleteUser(username=${tempUser.username})}"
								class="btn btn-danger btn-sm" 
								sec:authorize="hasRole('ADMIN')" >
								Delete
							</a>
							<a th:href="@{/ChangeRoleForUser(username=${tempUser.username})}"
								class="btn btn-secondary btn-sm"
								sec:authorize="hasAnyRole('ADMIN','MANAGER')" >
								Change Role
							</a>
					</td>
			</tr>
		</tbody>
		
	</table>
</div>


</body>
</html>